<div class="row soks  g-4">
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Price</h5>
      </div>
    </div>
    
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Price</h5>
      </div>
    </div>
    
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Price</h5>
      </div>
    </div>
    
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Price</h5>
      </div>
    </div>
    
  </div>
    
        <a routerLink="/articles/add">
          <i class="fa-solid fa-circle-plus fa-4x"></i>
        </a>
  
</div>