<div class="col-md-6 offset-md-3">
  <h1 class="form-group">Create Article</h1>
  <form (ngSubmit)="onSubmit()">   
      <div class="form-group" appearance="fill">
        <input class="form-control" type="text" 
        placeholder="Article Name" id="name" name="name" [(ngModel)]="article.name">
      </div>
    
      <div class="form-group" appearance="fill">
        <input class="form-control" type="number" id="price" name="price"  
        placeholder="Price" [(ngModel)]="article.price">
      </div>
    
      <div class="form-group">
        <input class="form-control" id="picture" name="picture" type="file" 
        placeholder="Choose file" [(ngModel)]="article.picture" >
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-success">Create</button>
      </div> 
  </form>
</div>
