<form class="example-form">
    <h1>Create Article</h1>
    
    <div class="example-full-width" appearance="fill">
      <input class="form-control form-control-lg" type="text" placeholder="Article Name" value="">
    </div>
   
    <div class="example-form" appearance="fill">
      <input class="form-control form-control-lg" type="number" placeholder="Price" value="">
    </div>
   

    <div class="example-form">
      <input class="form-control form-control-lg" id="formFileLg" type="file" placeholder="Choose file">
    </div>

    <div class="example-form">
      <button type="button" class="btn btn-success">Create</button>
    </div>
    
</form>
