<div class="container">
  
  
  <table class="table caption-top soks">
    <label>
      
    </label>
    <caption>List of Orders</caption>
    
    <thead>
        <tr>
            <th scope="col">REF</th>
            <th scope="col">Date</th>
            <th scope="col">Article</th>
            <th scope="col">Edit</th>
        </tr>
    </thead>
    <tbody>
       <tr *ngFor="let order of orders">
        <td>{{ order.reference }}</td>
        <td>{{ order.date }}</td>
        <td>{{ order.articlelist }}</td>
        <td><a href="">Edit</a></td>
       </tr>
    </tbody>
    <br>
    <a routerLink="/order">
      <i class="fa-solid fa-circle-plus fa-3x"></i>
    </a>
</table>

</div>

