<div class="container">
  <table class="table caption-top soks">
    <caption>List of Orders</caption>
    
    <thead>
        <tr>
            <th scope="col">REF</th>
            <th scope="col">Date</th>
            <th scope="col">Edit</th>
        </tr>
    </thead>
    <tbody>
       <tr *ngFor="let soks of orders">
        <td>{{ soks.reference }}</td>
        <td>{{ soks.date }}</td>
        <td><a (click)="updateOrders(soks.id)">Edit</a></td>
       </tr>
    </tbody>
    <br>
  </table>

  <a routerLink="/orders/add">
    <i class="fa-solid fa-circle-plus fa-4x"></i>
  </a>
</div>

